linkedin-api~=2.0.0a
styleframe
pandas
requests
peewee
PyMySQL
face-recognition @ git+https://github.com/ageitgey/face_recognition@87a8449a359fbc0598e95b820e920ce285b8a9d9
face-recognition-models
boto3
sqlitedict
facebook-scraper @ git+https://github.com/kevinzg/facebook-scraper.git@d77824db2e2e26ea0042da28178cee8c8ec57734
igramscraper
PyDrive2