linkedin-api~=2.0.0a
styleframe
pandas
requests
peewee
PyMySQL
face-recognition @ git+https://github.com/ageitgey/face_recognition@87a8449a359fbc0598e95b820e920ce285b8a9d9
face-recognition-models
boto3
sqlitedict
facebook-scraper @ git+https://github.com/kevinzg/facebook-scraper.git@bb7135e961b8878272ab10cb3951b17dfefe0af1
shutil